cvxopt>=1.0,<2.0
matplotlib>=3.0,<4.0
MLXP>=0.1,<1.0
munkres>=1.0,<2.0
numpy>=1.0,<2.0
pandas>=2.0,<3.0
scikit-image>=0.21,<1.0
scikit-learn>=1.0,<2.0
scipy>=1.0,<2.0
spams>=2.0,<3.0
spectral>=0.23,<1.0
tqdm>=4.0,<5.0
torch>=2.0,<3.0
